body {
  margin-left: 20%;
  margin-right: 20%;
}

/* .main-wrapper {
  padding: 16px;
} */
.login {
  background-color: #6ec531;
  height: 20%;
}
#welcome {
  display: flex;
  gap: 5%;
  align-items: center;
}
.welcome {
  color: white;
  font-size: 18px;
  padding: 8px;
}
.language {
  color: white;
  font-size: 18px;
  padding: 8px;
}
a {
  color: white;
  font-size: 18px;
  padding: 8px;
}
.navbar {
  display: flex;
  gap: 5%;
}
.grow {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
}
.collection {
  font-size: 30px;
}
ul .home {
  display: flex;
  gap: 5%;
  list-style-type: none;
}
.summer {
  display: flex;
}
.fall {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}
.terradium {
  width: 90%;
  height: 250px;
}
.inspirations {
  display: flexbox;
  flex-direction: column;
}
.inspiration {
  padding: -6px;
}
.orchid {
  width: 70%;
  height: 150px;
}
.inspiration {
  width: 70%;
  height: 150px;
}
.plants {
  display: flex;
}
.house {
  width: 70%;
  height: 150px;
}
.spring-store {
  width: 70%;
  height: 150px;
}
#sale {
  display: flex;
}
.potted {
  width: 80%;
  height: 200px;
}
.gravida {
  width: 40%;
  height: 80px;
}
.drift {
  width: 80%;
  height: 200px;
}
.all {
  display: flex;
}
.six-pl {
  display: flex;
  flex-wrap: wrap;
}
.three {
  display: flex;
  flex-wrap: wrap;
}
.featured-product {
  padding: 16px;
}
.living-img {
  width: 80%;
  height: 150px;
}
.amaizing-spring {
  display: flex;
}
.four-two {
  display: flex;
  flex-wrap: wrap;
}
.four-one {
  display: flex;
  flex-wrap: wrap;
}
.cactus-tree {
  width: 100%;
  height: 150px;
  padding: 16px;
}
.tree-img {
  width: 80%;
  height: 150px;
}
#cactus-tree {
  display: flex;
}
.urban-img {
  width: 80%;
  height: 200px;
}
ul {
  gap: 5%;
  list-style-type: none;
}
ul .info {
  display: flex;
  flex-direction: column;
}
.quick-menu {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .gfg-div {
    background-color: #63c971;
    color: #fff;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    color: black;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: brown;
    color: black;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    color: black;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: darkgoldenrod;
    color: black;
  }
}
