body {
  margin-left: 20%;
  margin-right: 20%;
}

.main-wrapper {
  padding: 0 px;
  margin: 0;
}
.login {
  background-color: #6ec531;
  height: 20%;
}
#welcome {
  display: flex;
  justify-content: space-between;
}
.welcome {
  color: white;
  font-size: 18px;
  padding: 8px;
  justify-content: start;
}
.language {
  color: white;
  font-size: 18px;
  gap: 5%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.add-cart {
  display: flex;
  justify-content: end;
}
.categories {
  display: flex;
  padding: 8px;
  gap: 3%;
}
.search,
.like,
.cart {
  width: 30px;
  height: 25px;
  align-items: end;
}
.green {
  color: #81a778;
}
.summer {
  display: flex;
  justify-content: space-around;
}
.fall {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}
.collection {
  font-size: 30px;
  font-family: "Sansita Swashed", system-ui;
}
.other {
  font-size: 30px;
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}
.terradium {
  width: 60%;
  height: 60%;
}
.plants {
  display: flex;
  flex-direction: column;
}
#inspirations {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 8px;
}
.word {
  display: flex;
  flex-direction: column;
}
.newsletter {
  display: flex;
  flex-direction: column;
}
.word-inspiration {
  display: flex;
  flex-direction: column;
}
.price {
  color: #669a5a;
  font-size: 25px;
}
.inspiration {
  width: 50%;
  height: 45%;
  object-fit: cover;
}

.uza {
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
}
.Cacti {
  width: 40%;
  height: 30%;
}
.spring-store {
  color: #c8c6c7;
  font-size: 25px;
}
.zote {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 3%;
}

a {
  color: white;
  font-size: 18px;
  padding: 8px;
}

li {
  display: flex;
  padding: 8px;
  font-weight: bold;
}
.grow {
  background-color: #f8f8f8;
  display: flex;
}
.three-pl {
  display: flex;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  justify-content: space-between;
}

.orchid {
  width: 50%;
  height: 45%;
}

.house {
  width: 50%;
  height: 30%;
}

#sale {
  display: flex;
  flex-direction: row;
}

.gravida {
  width: 70%;
  /* height: 70%; */
  padding: 16px;
}
.sem {
  width: 70%;
  height: 70%;
}

.drift {
  width: 70%;
  height: 60%;
}
#drift {
  flex-basis: 50%;
}
.all {
  display: flex;
}

.featured-product {
  padding: 16px;
}
.feature {
  text-align: center;
}
.product {
  font-family: "Shippori Mincho", serif;
  font-weight: bold;
  font-size: 30px;
  margin: 3%;
}
.best-product {
  color: #6ec531;
}
.commodo,
.auctor,
#gravida {
  font-size: 13px;
}
.container-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.container {
  display: flex;
}
.tree-bottle {
  flex-basis: 70%;
}
.cactus-content {
  flex-basis: 50%;
}
.cactus-img {
  flex-basis: 50%;
}

.living {
  flex-basis: 30%;
}
.living-img {
  width: 100%;
  height: 100%;
}
.spring-heading {
  font-size: 30px;
  font-weight: bold;
}
.amaizing-spring {
  display: flex;
  flex-direction: column;
}

.four-one {
  display: flex;
  padding: 3px;
}
.spring-images {
  display: flex;
}
#cactus-tree {
  padding: 16px;
  margin: 5%;
}
.cactus-tree {
  width: 60%;
  height: 60%;
  padding: 8px;
}
.tree-img {
  width: 80%;
  height: 70%;
}
#cactus-tree {
  display: flex;
}
.urban-img {
  width: 70%;
  height: 70%;
}
ul {
  gap: 5%;
  list-style-type: none;
}
.info {
  display: flex;
  flex-direction: column;
}
.quick-menu {
  display: flex;
  flex-direction: column;
}
.menu {
  list-style: none;
}

.footer {
  display: flex;
  margin: 5%;
  padding: 8px;
}
button {
  background-color: #6ec531;
  border: none;
  color: white;
}
.communicate {
  text-align: center;
  padding: 42px;
}
.sub-heading {
  font-weight: bold;
  font-size: 25px;
}
.testimonals {
  color: #6ec531;
}
.blog {
  display: flex;
  justify-content: space-evenly;
}
.test-image-1 {
  width: 40%;
  height: 40%;
  border-radius: 10%;
  object-fit: cover;
}
.test-image-2 {
  width: 60%;
  height: 60%;
  border-radius: 10%;
}
.test-image-3 {
  width: 40%;
  height: 40%;
  border-radius: 10%;
  object-fit: cover;
}
.text-testimonies {
  display: flex;
  justify-content: space-evenly;
}
.left-arrow,
.arrow {
  padding: 16px;
}
.test-image-three {
  justify-content: end;
}
.text,
.developer {
  text-align: center;
}
.developer {
  color: #6ec531;
}
span {
  color: #000;
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .login {
    display: flex;
    font-size: 12px;
    height: 50%;
  }
  .main-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .categories {
    display: flex;
  }
  .home {
    display: flex;
    flex-direction: column;
  }

  .terradium {
    width: 70%;
    height: 50%;
    object-fit: cover;
  }
  .fall {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f8f8f8;
  }
  .collection {
    font-size: 25px;
  }
  .other {
    font-size: 15px;
    font-weight: 200;
  }
  .plants {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .grow {
    padding: 13%;
  }
  .orchid {
    width: 60%;
    height: 46%;
  }
  #welcome {
    display: inline-block;
  }
  .summer {
    display: flex;
    flex-direction: column;
  }

  .plants {
    display: flex;
    flex-direction: column;
  }
  #sale {
    display: block;
  }
  .spring-store {
    color: #000;
    font-size: 15px;
  }
  .uza {
    font-size: 17px;
    font-weight: bold;
    padding: 4px;
  }
  .zote {
    font-size: 17px;
    padding-top: 4px;
  }
  .three-pl {
    display: block;
  }
  .gravida {
    width: 100%;
  }
  .all {
    display: block;
  }
  .container {
    display: block;
  }
  .spring-heading {
    font-size: 23px;
  }
  .spring-images {
    display: flex;
    flex-direction: column;
  }
  #cactus-tree {
    display: block;
  }
  .blog {
    display: block;
  }
  .text-testimonies {
    display: block;
  }
  .footer {
    display: block;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  #welcome {
    text-align: center;
    display: block;
  }
  .urban-img {
    width: 100%;
    height: 55%;
    object-fit: cover;
  }
  .urban {
    padding: 5px;
  }
  .housejournal{
    padding: 5px;
  }
  
}
